<div class="container card p-5 shadow-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>{{ formStaus }} Post</h2>
      <p class="sub-title">You Can {{ formStaus }} New Post From Here</p>
    </div>
  </div>
  <div>
    <form class="pt-4 pb-4" [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control shadow-sm"
              placeholder="Add Title Here"
              name="title"
              id="title"
              formControlName="title"
              (keyup)="onTitleChanged($event)"
              [ngClass]="{
                'is-invalid': !fc['title'].valid && fc['title'].touched
              }"
            />
            <div *ngIf="fc['title'].errors?.['required']">
              <span
                *ngIf="!fc['title'].valid && fc['title'].touched"
                class="help-block alert"
              >
                Title is required and must have atleast 10 caracters</span
              >
            </div>
          </div>
          <div class="form-group pt-5">
            <label for="permalink">Permalink</label>
            <input
              type="text"
              class="form-control shadow-sm"
              placeholder="Add Permalink Here"
              name="permalink"
              formControlName="permalink"
              [(ngModel)]="permalink"
              readonly
            />
          </div>
          <div class="form-group pt-5">
            <label for="excerpt">Excerpt</label>
            <textarea
              name="excerpt"
              id="excerpt"
              cols="30"
              rows="9"
              formControlName="excerpt"
              class="form-control shadow-sm"
            ></textarea>
            <div *ngIf="fc['excerpt'].errors?.['required']">
              <span
                *ngIf="!fc['excerpt'].valid && fc['excerpt'].touched"
                class="help-block alert"
              >
                Excerpt is required</span
              >
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="category">Select Category</label>
            <select
              name="category"
              id="category"
              class="form-control shadow-sm"
              formControlName="category"
            >
              <option value="#">Choose</option>
              <option
                *ngFor="let cat of categoriesArray; let i = index"
                value="{{ cat.id }}-{{ cat.category }}"
              >
                {{ cat.category }}
              </option>
            </select>
            <div *ngIf="fc['category'].errors?.['required']">
              <span
                *ngIf="!fc['category'].valid && fc['category'].touched"
                class="help-block alert"
              >
                Category is required</span
              >
            </div>
          </div>
          <div class="form-group pt-5">
            <label for="photo">Post Image</label>
            <input
              type="file"
              class="form-control shadow-sm"
              name="postImg"
              accept="image/*"
              (change)="showPreview($event)"
              formControlName="postImg"
            />

            <div *ngIf="fc['postImg'].errors?.['required']">
              <span
                *ngIf="!fc['postImg'].valid && fc['postImg'].touched"
                class="help-block alert"
              >
                Category is required</span
              >
            </div>
          </div>
          <div class="form-group pt-1">
            <img [src]="imgSrc" class="imagepreview img-thumbnail shadow-sm" />
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <!-- <label for="content">Content</label>
          <textarea
            name="content"
            id="content"
            cols="30"
            rows="9"
            class="form-control shadow-sm"
          ></textarea> -->
          <angular-editor
            placeholder="Add your content here"
            formControlName="content"
          ></angular-editor>
          <div *ngIf="fc['content'].errors?.['required']">
            <span
              *ngIf="!fc['content'].valid && fc['content'].touched"
              class="help-block alert"
            >
              Post Content is required</span
            >
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-3 text-center">
          <button class="btn btn-info btn-block" [disabled]="postForm.invalid">
            {{ formStaus }} Post
          </button>
        </div>
        <div class="col-md-3 text-center">
          <button class="btn btn-warning btn-block" routerLink="/">
            Back to Dashboard
          </button>
        </div>
        <div class="col-md-3 text-center"></div>
      </div>
    </form>
  </div>
</div>
