<div class="container card p-5 shadow-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>{{ formStaus }} New Post</h2>
      <p class="sub-title">You Can {{ formStaus }} New Post From Here</p>
    </div>
  </div>
  <div>
    <form class="pt-4 pb-4" #categoryForm="ngForm">
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control shadow-sm"
              placeholder="Add Title Here"
              name="title"
              (keyup)="onTitleChanged($event)"
            />
          </div>
          <div class="form-group pt-5">
            <label for="permalink">Permalink</label>
            <input
              type="text"
              class="form-control shadow-sm"
              placeholder="Add Permalink Here"
              name="permalink"
              [(ngModel)]="permalink"
              disabled
            />
          </div>
          <div class="form-group pt-5">
            <label for="post">Excerpt</label>
            <textarea
              name="post"
              id="post"
              cols="30"
              rows="9"
              class="form-control shadow-sm"
            ></textarea>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="category">Select Category</label>
            <select
              name="category"
              id="category"
              class="form-control shadow-sm"
            >
              <option value="#">Choose</option>
            </select>
          </div>
          <div class="form-group pt-5">
            <label for="photo">Post Image</label>
            <input
              type="file"
              class="form-control shadow-sm"
              name="imagePath"
              #imagePath
              accept="image/*"
              (change)="showPreview($event)"
            />
          </div>
          <div class="form-group pt-1">
            <img
              [src]="imgSrc"
              class="imagepreview img-thumbnail shadow-sm"
              [alt]="imagePath.value"
            />
          </div>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12">
          <label for="content">Content</label>
          <textarea
            name="content"
            id="content"
            cols="30"
            rows="9"
            class="form-control shadow-sm"
          ></textarea>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-3 text-center">
          <button class="btn btn-info btn-block">Save\ Post</button>
        </div>
        <div class="col-md-3 text-center">
          <button class="btn btn-warning btn-block" routerLink="/">
            Back to Dashboard
          </button>
        </div>
        <div class="col-md-3 text-center"></div>
      </div>
    </form>
  </div>
</div>
