<div class="container card p-5 shadow-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>All Blog Posts</h2>
      <p class="sub-title">From here you can manage your blog posts</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center"></div>
    <div class="col-md-3 text-center">
      <button class="btn btn-info btn-block" routerLink="/post/new">
        Add new Post
      </button>
    </div>
    <div class="col-md-3 text-center">
      <button class="btn btn-warning btn-block" routerLink="/">
        Back to Dashboard
      </button>
    </div>
    <div class="col-md-3 text-center"></div>
  </div>
</div>

<div class="container card p-5 mt-5 shadow-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="table table-striped hover">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Post Image</th>
            <th scope="col">Title</th>
            <th scope="col">Excerpt</th>
            <th scope="col">Category</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of postArray; let i = index">
            <td width="10">{{ i + 1 }}</td>
            <td>
              <img src="{{ post.postImgPath }}" width="50" height="50" />
            </td>
            <td width="200">{{ post.title }}</td>
            <td width="300">{{ post.excerpt }}</td>
            <td width="200">{{ post.category.category }}</td>
            <td width="200">
              {{ formatDate(post.createdAt) | date }}
            </td>
            <td width="400">
              <button
                class="btn btn-primary"
                routerLink="/new-post"
                [queryParams]="{ id: post.id }"
              >
                Edit
              </button>
              <button class="btn btn-danger ml-2" (click)="onDelete(i + 1)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
