<div class="container card p-5 shadow-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>All Blog Posts</h2>
      <p class="sub-title">From here you can manage your blog posts</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center"></div>
    <div class="col-md-3 text-center">
      <button class="btn btn-info btn-block" routerLink="/post/new">
        Add new Post
      </button>
    </div>
    <div class="col-md-3 text-center">
      <button class="btn btn-warning btn-block" routerLink="/">
        Back to Dashboard
      </button>
    </div>
    <div class="col-md-3 text-center"></div>
  </div>
</div>
