<div class="container card p-5 shadow-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>{{ formStaus }} Categories</h2>
      <p class="sub-title">You can {{ formStaus }} categories from here</p>
    </div>
  </div>
  <div>
    <form
      class="row pt-4 pb-4"
      #categoryForm="ngForm"
      (ngSubmit)="onSubmit(categoryForm)"
    >
      <div class="col-md-10">
        <input
          type="text"
          class="form-control shadow-sm"
          placeholder="Add New Category"
          name="category"
          ngModel
          #newCategory="ngModel"
          [(ngModel)]="formCategory"
          required
          [ngClass]="{
            'is-invalid border-red': newCategory.touched && newCategory.invalid
          }"
        />
        <div
          class="alert alert-light"
          *ngIf="newCategory.touched && newCategory.invalid"
        >
          Category Field is required
        </div>
      </div>
      <div class="col-md-2">
        <button
          class="btn shadow-sm btn-block btn-info mb-2"
          [disabled]="categoryForm.invalid"
        >
          {{ formStaus }}
        </button>
      </div>
    </form>
  </div>
</div>
<div class="container card p-5 mt-5 shadow-lg">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-striped hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categoryArray; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ cat.category }}</td>
            <td>
              <button
                class="btn btn-primary"
                (click)="onEdit(cat.category, cat.id)"
              >
                Edit
              </button>
              <button class="btn btn-danger ml-2" (click)="onDelete(cat.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
