<div class="container card p-5 shadow-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>New Categories</h2>
      <p class="sub-title">You can add new categories from here</p>
    </div>
  </div>
  <div>
    <form
      class="row pt-4 pb-4"
      #categoryForm="ngForm"
      (ngSubmit)="onSubmit(categoryForm)"
    >
      <div class="col-md-10">
        <input
          type="text"
          class="form-control shadow-sm"
          placeholder="Add New Category"
          name="category"
          ngModel
          #newCategory="ngModel"
          required
          [ngClass]="{
            'is-invalid border-red': newCategory.touched && newCategory.invalid
          }"
        />
        <div
          class="alert alert-light"
          *ngIf="newCategory.touched && newCategory.invalid"
        >
          Category Field is required
        </div>
      </div>
      <div class="col-md-2">
        <button
          class="btn shadow-sm btn-block btn-info mb-2"
          [disabled]="categoryForm.invalid"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
