<div class="container">
  <div class="row pt-4">
    <div class="col-md-4">
      <a class="card card-category card-box m-4" routerLink="/categories">
        <div class="card-body text-center">
          <h2 class="text-white">Category</h2>
          <p class="text-white">Manage Categories Here</p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="card card-newpost card-box m-4" routerLink="/new-post">
        <div class="card-body text-center">
          <h2 class="text-white">New Post</h2>
          <p class="text-white">Create A New Post Here</p>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="card card-allpost card-box m-4" routerLink="/all-posts">
        <div class="card-body text-center">
          <h2 class="text-white">All posts</h2>
          <p class="text-white">Manage Posts Here</p>
        </div>
      </a>
    </div>
  </div>
</div>
