/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
:root {
  /* --primary-color: #026467; */
  --primary-color: #018786;
  --secondary-color: #026467;
  --body-text-color: #596392;
  --navbar-footer-color: #f9f9f9;
  --danger-color: #b00020;
  --black: #061a23;

  --primary-bg: linear-gradient(
    to bottom right,
    var(--secondary-color),
    var(--primary-color)
  );
  --secondary-bg: linear-gradient(to bottom right, #edaa03, #ee9285);
  --ternary-bg: linear-gradient(to bottom right, #005b94, #012643);

  --font-light: 300;
  --font-bold: 500;
  --font-bolder: 700;
  --main-font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; 10/16*100 */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-size: 1.4rem;
  color: var(--black);
}
a {
  cursor: pointer;
}
h2 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.btn {
  font-size: 1.4rem;
}

.btn-warning,
.btn-warning:hover {
  color: #fff;
}
.app-body {
  margin-top: 15rem;
  height: 100%;
  min-height: 35vh;
}

a {
  text-decoration: none !important;
}

.logo,
.logo:hover,
.logo:focus {
  font-family: "Dancing Script", cursive;
  color: var(--black);
}

.nav-link {
  text-transform: uppercase;
  color: var(--primary-color);
}

.nav-link:hover {
  height: 100%;
  color: #000;
}

.subscription-section {
  padding: 2rem 5rem;
}

.card {
  border-radius: 1.5rem;
  overflow: hidden;
  outline: none;
}

.card-category {
  background-image: var(--primary-bg);
  box-shadow: 4px 6px 0px 2px #026467;
}

.card-category:hover,
.card-category:focus {
  box-shadow: 3px 2px 0px 0px #026467;
}

.card-newpost {
  background-image: var(--secondary-bg);
  box-shadow: 4px 6px 0px 2px #ee9285;
}

.card-newpost:hover,
.card-newpost:focus {
  box-shadow: 3px 2px 0px 0px #ee9285;
}

.card-allpost {
  background-image: var(--ternary-bg);
  box-shadow: 4px 6px 0px 2px #012643;
}

.card-allpost:hover,
.card-allpost:focus {
  box-shadow: 4px 2px 0px 0px #012643;
}

.card-box {
  width: 100%;
  min-height: 18rem;
}

.card-box .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card h2 {
  font-size: 3rem;
}

.sub-title {
  font-size: 1.8rem;
  font-weight: 300;
}

.angular-editor-button {
  font-size: 1.4rem;
}

.angular-editor-textarea {
  min-height: 25vh !important;
}
